ion-row{
    margin: 10px 0;
}
h1{
    margin: 40px 0 !important;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}
.bouton{
    --background: #8dbd56;
    color: white;
    --background-activated: #8dbd56;
}