h1{
    font-weight: bold;
    font-size: 1.5em;
    margin: 50px 0;
    text-align: center;
}
.bad{
    color: white;
    background-color: #d9534f;
    margin-top: 200px;
    padding: 10px;
    font-size: .8em;
}
small{
    padding-left: 20px;
    margin: 40px 0 0 0;
}