<ion-header>
  <ion-toolbar>
    <ion-title>Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button routerLink="/profile">
      <ion-thumbnail *ngIf="profilePicture; else noPicture" class="profile-pic" slot="start">
        <ion-img [src]="profilePicture.image64"></ion-img>
      </ion-thumbnail>
      <ng-template #noPicture>
        <ion-icon slot="start" name="create-outline"></ion-icon>
      </ng-template>
      <ion-label>
        <h3>Profil</h3>
      </ion-label>
    </ion-item>
    <ion-item button routerLink="/orders">
      <ion-icon slot="start" name="basket-outline"></ion-icon>
      <ion-label>
        <h3>Mes commandes en cours (panier)</h3>
      </ion-label>
    </ion-item>
    <ion-item button routerLink="/orders/all">
      <ion-icon slot="start" name="list-outline"></ion-icon>
      <ion-label>
        <h3>Toutes mes commandes</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="logo-euro"></ion-icon>
      <ion-label>
        <h3>Cagnotte {{ user.wallet | number:'1.1-2' }} €</h3>
      </ion-label>
    </ion-item>
    <ion-item button routerLink="/logout">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>
        <h3>Deconnexion</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
