<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ menu ? menu.label : '' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <!-- <ion-col>
        <ion-button size="large"
        color="light" class="ion-margin-top ion-margin-start"
        routerLink="/home">
          <ion-icon slot="start" name="arrow-back"></ion-icon> Retour
        </ion-button>
      </ion-col> -->
      <ion-col class="ion-text-right">
        <ion-button size="large"
        color="light" class="ion-margin-top ion-margin-end" (click)="orderMaker(menu.id)">
          Ajouter au panier
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="menu">
    <ion-card *ngFor="let meal of menu.meals">
      <img src="../../../assets/uploads/menu-img-02.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Plat</ion-card-subtitle>
        <ion-card-title>{{ meal.label }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="meal.ingredients" class="ingredient-container">
          <span>Composé de :</span>
          <ul *ngFor="let ingredient of meal.ingredients">
            <li>{{ ingredient.label }}</li>
          </ul>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
