<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Connexion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label>
        Email:
        <input type="email" formControlName="email">
    </label>
    <label>
        Mot de passe:
        <input type="password" formControlName="password">
    </label>

    <button type="submit">Connexion</button>
  </form> -->

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="full" color="primary">Connexion</ion-button>
  </form>
</ion-content>
