<ion-card *ngFor="let meal of meals">
  <!--src="../../../assets/uploads/menu-img-02.jpg"-->
  <div class="ser-icon">
    <img [src]="meal.imgUrl" alt="Image du plat" class="img-fluid" />
  </div>

  <ion-card-header>
    <ion-card-subtitle>Plat</ion-card-subtitle>
    <ion-card-title>{{ meal.label }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <span *ngIf="meal.ingredients">Composé de : </span>
    <div class="p-t-10">
      <p *ngFor="let ingredient of meal.ingredients">{{ ingredient.label }}</p>
    </div>
    <span class="d-inline-block w-100 ion-text-right">
      <ion-button size="small" (click)="orderMaker(meal.id)">Ajouter au panier</ion-button>
    </span>
  </ion-card-content>
</ion-card>
