.avatar{
    text-align: center;
    margin-top: 20px;
    font-size: 4em;
}
form{
    margin-top: -60px;
}
ion-col ion-button{
    margin: 20px 0 10px 0;
}
a{
    text-decoration: none;
}
ion-col p{
    text-align: center;
}
.alert{
    color: red;
}
.bad{
    color: white;
    background-color: #d9534f;
    margin: 50px 0;
    padding: 10px;
}