.styleAdmin{
    --background: #8dbd56;
    --background-activated: #8dbd56;
 }
 .blocAdmin{
    border: solid 10px #f46f23; 
    
    text-align: center;
 }
 .barreMenu{
     font-size: medium;
 }
 a{
     text-decoration: none;
     color: black;
 }
 ul li{
     list-style: none;
 }